html {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
background-color: #ffe500;
display: inline-block;
width: 100%;
text-align: center;
}

nav ul li {
display: inline-block;
font-size: 1.125rem;
margin: 0 0 .3rem;
}

*, *::before, *::after {
box-sizing: inherit;
}

h1, h2 {
font-family: "Sigmar One";
color: #b20953;
}

img {
display: block;
width: 100%;
}

h2 {
font-size: 1.875rem;
}
